xmlrpcaller:
  # example:
  #   hostname: <mandatory>
  #   port: 3306
  #   url: https://<hostname>:<port>/<path>
  #   username: <required-for-http-authentication>
  #   password: <will-be-asked-if-omited>
  #   ca_file: <required-if-ca_ignore-false>
  #   ca_ignore: false
  #   verify_hostname: true
  rudolf:
    hostname: 192.168.2.100
    port: 16333
    username: nabla
    password: qwerty
    ca_ignore: true
  rudolf_as_url:
    # note lack of user/password in URL: these can't be set there
    url: https://192.168.2.100:16333
    username: nabla
    password: qwerty
    ca_ignore: true
  hans:
    hostname: hans.example.net
    port: 1638
    username: nabla
    ca_file: /etc/xmlrpcd/ssl/hans.cert.pem
  local:
    hostname: localhost
    port: 1638
    username: nabla
    ca_file: /etc/xmlrpcd/ssl/some-host.cert.pem
    verify_hostname: false

# vim:ft=yaml
